<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Техники тестирования</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYRCUMmV1Wy7ME6rbLG7Yh7BCKISOIoX5Eq5Do5J4G1sNuexFdnaRE-uYT&s=10">
    <ol>
        <li>Эквивалентное разбиение </li>
        <li>Граничные значения</li>
        <li>Таблица принятия решений</li>
        <li>Тестирование переходов состояний</li>
        <li>Попарное тестирование </li>
    </ol>
    <a href ="https://habr.com/ru/articles/549054/"> Узнать подробнее</a>
    <input type="text" placeholder="Введите значение для поиска">
    <button type="submit">Отправить</button>
</div>
</body>
</html>